/**
* CSS file to hold styles that apply across the application
*/

@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400&family=Montserrat:wght@200;400;600;800&display=swap");

:root {
  --c-bg: hsl(0, 0%, 90%);
  --c-text: hsl(0, 0%, 10%);
  --pad: max(20px, 4vmin);
  --fs-text: 12px;
}

* {
  margin: 0;
  padding: 0;
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

nav {
  display: block;
}

ol {
  list-style-type: none;
}

.mask {
  position: "fixed";
  z-index: 3;
  left: 0;
  top: 0;
  width: "100%";
  height: "100%";
  overflow: "hidden";
  pointer-events: none;
}

.mask-top {
  top: 0;
}

.mask-bottom {
  bottom: 0;
}

.frame {
  position: fixed;
  z-index: 10;
  left: var(--pad);
  right: var(--pad);
  top: var(--pad);
  bottom: var(--pad);
  mix-blend-mode: difference;
  pointer-events: none;
}

.frame_line {
  position: absolute;
  background-color: #fff;
  opacity: .5;
}

.frame_line-left {
  left: 0;
  top: 0;
  width: 1px;
  height: 100%;
}

.frame_line-right {
  right: 0;
  top: 0;
  width: 1px;
  height: 100%;
}

.frame_line-top {
  top: 0;
  left: 0;
  width: 100%;
  height: 1px;
}

.frame_line-bottom {
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
}

.theme {
  position: fixed;
  z-index: 10;
  left: calc(var(--pad) - 0.15em);
  bottom: var(--pad);
  transform-origin: left bottom;
  transform: rotate(-90deg);
  white-space: nowrap;
  mix-blend-mode: difference;
  display: flex;
  column-gap: 15px;
  cursor: pointer;
}

.theme_colors {
  display: flex;
  column-gap: 15px;
}

.theme_btn {
  display: flex;
  column-gap: 3px;
  font-weight: 400;
  text-transform: uppercase;
}

.siteHeader {
  position: fixed;
  z-index: 10;
  left: calc(var(--pad)* 2);
  top: calc(var(--pad)* 2);
  mix-blend-mode: difference;
}

.siteHeader_title {
  margin: -0.1em 0 0 -0.04em;
  font-weight: 200;
  font-size: 30px;
}

@media (min-width: 1280px) {
.siteHeader_title {
    font-size: 60px;
}}

.siteHeader_label {
  margin-top: 5px;
  font-weight: 400;
}

.siteHeader_nav {
  margin-top: 50px;
}

.siteHeader_nav ol {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}

.siteHeader_nav ol li.is-selected {
  pointer-events: none;
}

.siteHeader_nav ol li {
  position: relative;
}

.content {
  position: fixed;
  z-index: 2;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  mix-blend-mode: difference;
}

main, canvas {
  display: block;
}

.content_inner {
  position: relative;
  min-height: 100%;
  transform: translate3d(0, 0, 0);
}

.page {
  display: none;
  width: 100%;
  min-height: calc(var(--vh, 1vh)* 100);
}

.project {
  padding: calc(var(--pad)* 2 + 96px) calc(var(--pad)* 2);
  text-align: right;
  white-space: nowrap;
}

.project_heading {
  font-weight: 400;
}

.project_list {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  row-gap: 15px;
  margin-top: 50px;
}

.project_list text-btn {
    transition-property: opacity;
    transition-duration: .4s;
    transition-timing-function: cubic-bezier(0.1, 0.4, 0.2, 1);
}

.is-monospaced .project_title {
  letter-spacing: -0.04em;
}

.project_title {
  font-weight: 200;
  font-size: 8vw;
  text-align: right;
}

@media (min-width: 800px) {
.project_title {
    font-size: 60px;
}}

.project_info {
  margin-top: 5px;
}

